<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List </title>
</head>
<body>
<h3>Computer List</h3>
<p>
    <a th:href="@{/computers/create}">
        Add new computer
    </a>
</p>
<p>
    <a th:href="@{/types}">
        Type list
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<!--<button><a th:href="@{/category/total}">Get Total Amount by Category</a></button>-->

<table id = "tasks">
    <thead>
    <tr>
        <th>STT</th>
        <th>Code</th>
        <th>Name</th>
        <th>Producer</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c, cStatus : ${computer}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getCode()}"> </td>
        <td th:text="${c.getName()}"> </td>
        <td th:text="${c.getProducer()}"> </td>
        <td><a th:href="@{/computers/update/{id}(id=${c.getId()})}">update</a></td>
        <td><a th:href="@{/computers/delete/{id}(id=${c.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>